{{render appToolbar}}
<ul class='x-breadcrumb'></ul>
<div class="container x-areas-container">

	<div class="x-area" data-area-options="isDefault:true" style="display: none; ">
		<div class="x-region" id="main" data-region-options="navigable:true"></div>
	</div>

</div>
<div class="clearfloat"></div>
<div class="footer-stub"></div>