<div class="jumbotron">
  <h1>Welcome to WebClient!</h1>
  <p>This is a sample part 'Dashboard' created by Yeoman-generator. See src/app/ui/templates/dashboard.hbs</p>
  <p>
  	<a class="btn btn-primary btn-lg" role="button" href="https://docs.rnd.croc.ru/webclient/latest/">Documentation</a>
  	<a class="btn btn-primary btn-lg" style="margin-left: 30px;" role="button" href="https://docs.rnd.croc.ru/webclient/latest/casestudy/">Case Study for WebClient</a>
  	<a class="btn btn-primary btn-lg" style="margin-left: 30px;" role="button" href="https://jxfw.rnd.croc.ru/docsite/latest/casestudy/index.html">Case Study for jXFW (Java)</a>
  </p>
</div>
