@croc:registry=https://repo.croc.ru/artifactory/api/npm/rnd-npm/
//repo.croc.ru/artifactory/api/npm/rnd-npm/:_password=${NPM_REPO_PASS}
//repo.croc.ru/artifactory/api/npm/rnd-npm/:username=${NPM_REPO_USER}
//repo.croc.ru/artifactory/api/npm/rnd-npm/:always-auth=true

@ctp:registry=https://repo.croc.ru/artifactory/api/npm/ctp.cmf.npm.virtual/
//repo.croc.ru/artifactory/api/npm/ctp.cmf.npm.virtual/:_password=${NPM_REPO_PASS}
//repo.croc.ru/artifactory/api/npm/ctp.cmf.npm.virtual/:username=${NPM_REPO_USER}
//repo.croc.ru/artifactory/api/npm/ctp.cmf.npm.virtual/:always-auth=true

@ctp.cmf:registry=https://repo.croc.ru/artifactory/api/npm/ctp.cmf.npm.virtual/
//repo.croc.ru/artifactory/api/npm/ctp.cmf.npm.virtual/:_password=${NPM_REPO_PASS}
//repo.croc.ru/artifactory/api/npm/ctp.cmf.npm.virtual/:username=${NPM_REPO_USER}
//repo.croc.ru/artifactory/api/npm/ctp.cmf.npm.virtual/:always-auth=true                                                                               